@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Protest+Revolution&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Yuji+Mai&display=swap');
@import './CatColors.scss';
@import './CatVars.scss';

body {
  font-size: 1.2rem;
  font-family: 'Josefin Sans', sans-serif;
  color: var(--black);
}

.page-container {
  @extend %center-column;
  padding: 40px;

  @media (max-width: 1000px) {
    padding: 30px;
  }

  @media (max-width: 768px) {
    padding: 20px;
  }

  @media (max-width: 500px) {
    padding: 10px;
  }

  .media-container {
    display: none;

    &.videos {
      max-width: 1440px;
    }

    &.albums {
      max-width: 1660px;
    }

    &.active {
      display: block;
    }

    .masonry-grid {
      display: flex;
      gap: 16px;
    }
    
    .masonry-grid-column {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }

  .container {
    display: flex;
    background: var(--pure-white-90);
    box-shadow: var(--dark-shadow-small);
    border-radius: 40px;
    padding: 24px;

    @media (max-width: 500px) {
      border-radius: 20px;
      padding: 16px;
      margin-bottom: 12px;
    }
  }

  .header-container {
    @extend %center-row;
    width: 100%;
    max-width: 800px;
    margin-bottom: 24px;

    .title {
      text-align: center;
      margin: 0;

      @media (max-width: 440px) {
        font-size: 2.2rem;
      }

      @media (max-width: 400px) {
        font-size: 2rem;
      }

      @media (max-width: 360px) {
        font-size: 1.8rem;
      }
    }
  }

  .info-container {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin-bottom: 24px;

    @media (max-width: 1000px) {
      flex-direction: column;

      .info-right {
        order: -1;
        display: flex;
        justify-content: center;
        margin-bottom: 24px;
      }
    }

    .info-left {
      display: flex;
      flex-direction: column;
      padding: 8px;
      padding-right: 24px;
      gap: 20px;

      @media (max-width: 768px) {
        padding: 0;
      }

      .info-data {
        display: flex;
        gap: 20px;

        &.long {
          @media (max-width: 1200px) and (min-width: 1000px), (max-width: 768px) and (min-width: 500px) {
            flex-direction: column;
            gap: 10px;
          }
        }

        p {
          margin: 0;
        }

        .key {
          font-style: italic;
          min-width: 150px;
        }

        .value {
          display: flex;
          align-items: center;
          font-weight: bold;
          min-width: 250px;

          &.story {
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 8px;

            .expand-button {
              @extend %button-default;
              color: var(--darkish);
              font-style: italic;
              font-weight: bold;
              font-size: 18px;
              text-decoration: underline;
              text-decoration-thickness: 1px;
              margin-left: 6px;

              &.active {
                margin-left: 0;
                margin-top: 8px;
                display: block;
              }
            }
          }
        }

        @media (max-width: 500px) {
          flex-direction: column;
          gap: 10px;

          .key {
            min-width: 0;
          }

          .value {
            min-width: 0;
          }
        }
      }
    }

    .info-right {
      .image-box {
        @extend %center-row;
        width: fit-content;
        align-items: center;
        box-shadow: var(--dark-shadow-small);
        border-radius: 16px;
        cursor: pointer;

        @media (max-width: 500px) {
          border-radius: 8px;
        }

        img {
          @media (min-width: 1000px) {
            max-width: 40vw;
          }

          @media (min-width: 1600px) {
            max-width: 640px;
          }

          max-height: 440px;
          border-radius: 16px;

          @media (max-width: 500px) {
            border-radius: 8px;
          }

          @media (max-width: 1360px) and (min-width: 1000px) {
            max-width: calc(15vw + (25vw * ((100vw - 1080px) / 280)));
          }

          @media (max-width: 1000px) {
            max-width: 100%;
          }
        }
      }
    }
  }

  .tabs-container {
    display: flex;
    width: 100%;
    max-width: 800px;
    margin-top: 12px;
    margin-bottom: 30px;
    padding: 0;

    .tab {
      @extend %button-default;
      flex: 1;
      padding: 20px 20px 18px;

      h1 {
        margin: 0;
        font-size: 2rem;
      }

      &.left {
        border-top-left-radius: 40px;
        border-bottom-left-radius: 40px;

        @media (max-width: 500px) {
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px;
        }

        &.active {
          box-shadow: var(--dark-shadow-small),
                      var(--light-shadow-small),
                      var(--light-shadow-small),
                      var(--light-shadow-small);
        }
      }

      &.right {
        border-top-right-radius: 40px;
        border-bottom-right-radius: 40px;

        @media (max-width: 500px) {
          border-top-right-radius: 20px;
          border-bottom-right-radius: 20px;
        }

        &.active {
          box-shadow: var(--light-shadow-small),
                      var(--dark-shadow-small),
                      var(--light-shadow-small),
                      var(--light-shadow-small);
        }
      }

      &.active {
        background: var(--whiteish);
        text-decoration: underline;
        text-decoration-thickness: 1px;
        z-index: 2;
        transform: scaleY(1.05);
      }
    }
  }

  .video-container, .album-container {
    @extend %center-column;
    height: fit-content;
    border-radius: 20px;
    gap: 12px;

    p {
      margin: 0;
      white-space: normal;
      max-width: 100%;
      font-weight: bold;
    }
  }

  .video-container {
    video {
      max-height: 86vh;
      width: 100%;
      max-width: 84vw;
      border-radius: 8px;
      box-shadow: var(--dark-shadow-small);
    }
  }

  .album-container {
    cursor: pointer;
    transition: transform 0.3s;

    .cover-photo {
      display: flex;
      align-items: center;
      overflow-y: hidden;
      max-height: 86vh;
      border-radius: 8px;
      box-shadow: var(--dark-shadow-small);

      img {
        max-width: 100%;
        border-radius: 8px;
      }
    }

    &:hover {
      transform: scale(1.02);
    }
  }

  .photos-container {
    display: none;

    &.active {
      display: flex;
    }

    flex-wrap: wrap;
    max-width: 1280px;
    border-radius: 20px;
    gap: 12px;
    justify-content: center;
  }
}
