@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Protest+Revolution&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Yuji+Mai&display=swap');

body {
  font-size: 1.2rem;
  font-family: 'Josefin Sans', sans-serif;
  color: #0f0f0f;
}

.page-container {
  padding: 40px;

  @media (max-width: 1000px) {
    padding: 30px;
  }

  @media (max-width: 768px) {
    padding: 20px;
  }

  @media (max-width: 500px) {
    padding: 10px;
  }

  display: flex;
  flex-direction: column;
  align-items: center;

  .flex-wrap-container {
    display: none;

    &.active {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 24px;
      margin-bottom: 24px;

      @media (max-width: 500px) {
        gap: 12px;
      }
    }
  }

  .container {
    display: flex;
    background: #f0f0f0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    border-radius: 40px;
    padding: 24px;

    @media (max-width: 500px) {
      border-radius: 20px;
      padding: 16px;
      margin-bottom: 12px;
    }
  }

  .header-container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    margin-bottom: 24px;

    .title {
      text-align: center;
      margin: 0;

      @media (max-width: 440px) {
        font-size: 2.2rem;
      }

      @media (max-width: 400px) {
        font-size: 2rem;
      }

      @media (max-width: 360px) {
        font-size: 1.8rem;
      }
    }
  }

  .info-container {
    display: flex;
    max-width: 1280px;
    justify-content: space-between;
    margin-bottom: 24px;

    @media (max-width: 1000px) {
      flex-direction: column;

      .info-right {
        order: -1;
        display: flex;
        justify-content: center;
        margin-bottom: 24px;
      }
    }

    .info-left {
      display: flex;
      flex-direction: column;
      padding: 8px;
      padding-right: 24px;
      gap: 20px;

      @media (max-width: 768px) {
        padding: 0;
      }

      .info-data {
        display: flex;
        gap: 20px;

        &.long {
          @media (max-width: 1200px) and (min-width: 1000px), (max-width: 768px) and (min-width: 500px) {
            flex-direction: column;
            gap: 10px;
          }
        }

        p {
          margin: 0;
        }

        .key {
          font-style: italic;
          min-width: 150px;
        }

        .value {
          font-weight: bold;
          min-width: 250px;
          display: flex;
          align-items: center;
        }

        @media (max-width: 500px) {
          flex-direction: column;
          gap: 10px;

          .key {
            min-width: 0;
          }

          .value {
            min-width: 0;
          }
        }
      }
    }

    .info-right {
      .image-box {
        display: flex;
        width: fit-content;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
        border-radius: 16px;

        @media (max-width: 500px) {
          border-radius: 8px;
        }

        img {
          @media (min-width: 1000px) {
            max-width: 40vw;
          }

          @media (min-width: 1600px) {
            max-width: 640px;
          }

          max-height: 440px;
          border-radius: 16px;

          @media (max-width: 500px) {
            border-radius: 8px;
          }

          @media (max-width: 1360px) and (min-width: 1000px) {
            max-width: calc(15vw + (25vw * ((100vw - 1080px) / 280)));
          }

          @media (max-width: 1000px) {
            max-width: 100%;
          }
        }
      }
    }
  }

  .tabs-container {
    display: flex;
    width: 100%;
    max-width: 800px;
    margin-top: 12px;
    margin-bottom: 30px;
    padding: 0;

    .tab {
      flex: 1;
      padding: 20px 20px 18px;
      cursor: pointer;
      border: none;
      font-family: 'Josefin Sans', sans-serif;

      h1 {
        margin: 0;
        font-size: 2rem;
      }

      &.left {
        border-top-left-radius: 40px;
        border-bottom-left-radius: 40px;

        @media (max-width: 500px) {
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px;
        }

        &.active {
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.6),
                      0 0 4px rgba(240, 240, 240, 0.4),
                      0 0 4px rgba(240, 240, 240, 0.4),
                      0 0 4px rgba(2240, 240, 240, 0.4);
        }
      }

      &.right {
        border-top-right-radius: 40px;
        border-bottom-right-radius: 40px;

        @media (max-width: 500px) {
          border-top-right-radius: 20px;
          border-bottom-right-radius: 20px;
        }

        &.active {
          box-shadow: 0 0 4px rgba(240, 240, 240, 0.4),
                      0 0 8px rgba(0, 0, 0, 0.6),
                      0 0 4px rgba(240, 240, 240, 0.4),
                      0 0 4px rgba(240, 240, 240, 0.4);
        }
      }

      &.active {
        background: #e0e0e0;
        z-index: 2;
        transform: scaleY(1.05);
      }
    }
  }

  .video-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: fit-content;
    gap: 24px;

    video {
      max-height: 96vh;
      max-width: 84vw;
      border-radius: 16px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    }
  }

  .album-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    gap: 12px;
    cursor: pointer;
    transition: transform 0.3s;

    h3 {
      margin: 0;
    }

    .cover-photo {
      display: flex;
      align-items: center;
      max-width: 360px;

      @media (max-width: 915px) {
        max-width: 640px;
      }

      max-height: 440px;
      overflow-y: hidden;
      border-radius: 16px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);

      img {
        max-width: 100%;
        max-height: 100%;
        border-radius: 16px;
      }
    }

    &:hover {
      transform: scale(1.05);
    }
  }
}
