:root {
  color-scheme: only light;

  --dark-background-start: rgb(31, 31, 31);
  --dark-background-end: rgb(63, 63, 63);

  --darker-background: #1f1f1f;
  --lighter-background: #3f3f3f;

  --standard-white: #f0f0f0;

  --cyberpunk-orange: #ff6a00;
  --whiter-orange: #ff8833;

  --clear-blue: #00bfff;
  --whiter-blue: #33ccff;

  --shiny-gray: #aaa;
  --whiter-gray: #ccc;
}
