<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Reset Your Password</title>
</head>
<body>
  <h1>Reset Your Password</h1>
  <p>
    Hi <%= user_name %>, a request to reset your password has been received. If you didn't make this request, you can safely ignore this email.
  </p>
  <p>
    <a href="<%= link %>">Reset Password</a>
  </p>
  <p>
    If you have any questions, feel free to reach out to me. I'm here to help!
  </p>
  <p>Best regards,<br>Shakey0</p>
</body>
</html>
