<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Welcome to Shakey0</title>
</head>
<body>
  <h1>Welcome to Shakey0, <%= user_name %>!</h1>
  <p>
    I'm excited to have you on board! Please click the link below to finish setting up your account:
  </p>
  <p>
    <a href="<%= link %>">Get Started</a>
  </p>
  <p>
    If you have any questions, feel free to reach out to me. I'm here to help!
  </p>
  <p>Best regards,<br>Shakey0</p>
</body>
</html>
