@import '../BrainColors.scss';
@import '../BrainVars.scss';

.main-container {
  @extend %center-column;

  .message-container {
    p {
      color: var(--standard-white);
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      line-height: 1.4;
      margin-top: 28px;
    }
  }

  .tabs-container {
    @extend %center-row;
    margin-top: 60px;
    gap: 14px;

    button {
      @extend %button-default;
      @extend %dark-element;
      padding: 10px 0;
      width: 140px;
      font-size: 24px;

      &:not(:last-child) {
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;
        text-align: right;
        padding-right: 26px;
      }

      &:not(:first-child) {
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;
        text-align: left;
        padding-left: 24px;
      }

      &:hover {
        color: var(--whiter-blue);
      }

      &.active {
        transform: scale(1.125);
        color: var(--whiter-blue);
      }
    }
  }

  .auth-form {
    @extend %center-column;
    display: none;
    width: 100%;
    gap: 24px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

    &.log-in {
      margin-top: 60px;
    }

    &.set-password {
      margin-top: 20px;
    }

    &.active {
      display: flex;
    }

    .into-container {
      @extend %start-column;
      max-width: 98%;
      background: var(--lighter-background);
      padding: 16px;
      border: 2px solid var(--clear-blue);
      border-radius: 8px;
      gap: 8px;
      margin: 32px 0 8px;

      p {
        position: relative;
        color: var(--standard-white);
        font-size: 18px;
        padding-left: 22px;

        &::before {
          content: "•";
          position: absolute;
          left: 0;
          top: -4px;
          font-size: 1.5em;
          color: var(--standard-white);
        }

        b {
          @extend %button-default;
          color: var(--clear-blue);
          text-decoration: underline;

          &:hover {
            color: var(--whiter-blue);
          }
        }
      }
    }

    .input-container {
      @extend %start-column;
      width: 440px;
      max-width: 98%;
      gap: 8px;

      label {
        color: var(--standard-white);
        font-size: 20px;
        margin-right: 16px;
      }

      input {
        @extend %dark-element;
        border-radius: 4px;
        padding: 12px;
        font-size: 20px;
        transition: all 0.3s;

        &:focus {
          outline: none;
          border: 2px solid var(--standard-white);
        }
      }
    }

    .forgot-password {
      @extend %button-default;
      color: var(--shiny-gray);
      font-size: 20px;

      &:hover {
        color: var(--whiter-gray);
      }
    }

    .submit-button {
      @extend %button-default;
      @extend %dark-element;
      border-radius: 100px;
      margin-top: 10px;
      padding: 14px 40px;
      font-size: 26px;
      box-shadow: 0 0 8px var(--clear-blue);

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .after-container {
    margin-top: 24px;

    p {
      color: var(--standard-white);
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 12px;
    }
  }
}
