*, *::before, *::after {
  box-sizing: border-box;
  scrollbar-color: #ccc #f0f0f0;
  scrollbar-width: thin;

  @media (prefers-color-scheme: dark) {
    scrollbar-color: #ccc #f0f0f0;
  }
}

@media (max-width: 768px) {
  * {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For IE and Edge (old versions) */
  }
  *::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Edge */
  }
}

html {
  color-scheme: light;
}

body {
  margin: 0;
}

.no-scroll {
  overflow: hidden;
}
