@import '../CatColors.scss';

.photo-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--pure-black);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.photo-content {
  position: relative;
}

.photo-close-box,
.arrow {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

.photo-close-box {
  background: var(--white-50);
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 16px;
  border-radius: 40px;
  z-index: 1001;

  .photo-close {
    font-size: 60px;
    font-weight: 700;
    font-family: 'Arial', sans-serif;
    color: var(--darkish);
    padding: 0 2px;
    background: none;
    border: none;
    cursor: pointer;

    @media (max-width: 500px) {
      padding: 0 6px;
    }
  }

  @media (max-width: 500px) {
    border-radius: 20px;
    padding: 0 4px;

    .photo-close {
      font-size: 40px;
    }
  }
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 96px;
  font-weight: 700;
  color: var(--dark-gray-60);
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001;
  text-shadow: var(--light-shadow-small);

  &.left {
    left: 20px;
  }

  &.right {
    right: 20px;
  }

  @media (max-width: 768px) {
    font-size: 72px;
  }

  @media (max-width: 500px) {
    font-size: 60px;
  }
}

.photo-modal-content {
  max-height: 100vh;
  max-width: 100vw;

  img {
    max-height: 100vh;
    max-width: 100vw;
  }
}
