<% content_for :head do %>
  <%= vite_javascript_tag 'knowledge_quiz.jsx' %>
  <script type="text/javascript">
    window.topic = <%= raw(@topic.to_json) %>;
  </script>
<% end %>

<div id="knowledge-quiz-root"></div>
